.article-page {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:    "header"
                            "article"
                            "sidebar"
                            "footer";
    grid-template-rows: 30rem auto auto 5rem;
    grid-template-columns: 100vw;
    min-height: 110vh;
    width: 100vw;
}

.article {
    background: $white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.10);
    grid-area: article;
    padding: $m-size 0;

    &__title {
        border-bottom: 2px solid $blue-med;
        color: $blue-med;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.6rem;
        margin: 0 $s-size $s-size $s-size;
    }
    &__date {
        color: darken($blue-dark, 5%);
        font-size: 1.8rem;
        margin: 0 $s-size;
        text-align: right;
    }
    &__image {
        box-sizing: border-box;
        display: block;
        padding: $s-size;
        width: 100%;
    }
    &__header {
        @extend .article__title;

        margin: $s-size;
    }
    .article__body {
        margin: 0 $s-size;
        text-indent: $l-size;

        h1 {
            font-size: $font-size-medium;
            margin: 1rem 0;
            text-indent: 0;
        }
        blockquote {
            text-align: center;
            text-indent: 0;
        }
        img {
            display: block;
            width: 100%;
        }
        pre {
            background: $green-med;
            border: 2px solid $green-dark;
            border-radius: 5px;
            color: $black;
            padding: $xs-size 0;
        }
    }
}
.share-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: $xs-size 0 $xs-size auto;
    width: 100%;

    &__share-button {
        background: $purple-light;
        border-radius: 5px;
        color: $white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0 $s-size 0 $xs-size;
        padding: .5rem;
    }
}

@media (min-width: $tablet-breakpoint) {
    .article-page {
        grid-template-areas:    "header"
                                "article"
                                "sidebar"
                                "footer";
        grid-template-rows: 30rem auto auto 5rem;
        grid-template-columns: 100vw;
    }
    .article {
        padding: $l-size 0;

        &__title {
            font-size: $font-size-large;
            margin: 0 $l-size $m-size $l-size;
        }
        &__date {
            font-size: 1.8rem;
            margin: 0 $l-size;
        }
        &__image {
            padding: $l-size;
        }
        &__header {
            margin: $m-size $l-size;
        }
        .article__body {
            margin: 0 $l-size;

            h1 {
                text-align: center;
                margin: 1rem;
            }
            blockquote {
                text-align: center;
            }
        }
    }
    .share-buttons {
        margin: $m-size 0 $s-size auto;

        &--button {
            padding: $xs-size;
        }
    }
}
@media (min-width: $small-desktop-breakpoint) {
    .article-page {
        grid-template-areas:    "header   header"
                                "article sidebar"
                                "footer   footer";
        grid-template-rows: 30rem auto 5rem;
        grid-template-columns: 3fr 1fr;
    }
}
@media (min-width: $desktop-breakpoint) {
    .article-page {
        grid-template-areas:    "header header   header  header"
                                ".      article sidebar .     "
                                "footer footer   footer  footer";
        grid-template-rows: 30rem auto 5rem;
        grid-template-columns: 1fr 75rem 25rem 1fr;
    }
}