.article-page {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:    "header"
                            "article"
                            "sidebar"
                            "footer";
    grid-template-rows: 30rem auto auto 5rem;
    grid-template-columns: 100vw;
    min-height: 110vh;
    width: 100vw;
}

.article {
    background: $white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.10);
    grid-area: article;
    padding: $l-size 0;

    &__title {
        border-bottom: 2px solid $blue-med;
        color: $blue-med;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: $font-size-large;
        margin: 0 $l-size $m-size $l-size;
    }
    &__date {
        color: darken($blue-dark, 5%);
        font-size: 1.8rem;
        margin: 0 $l-size;
        text-align: right;
    }
    &__image {
        box-sizing: border-box;
        display: block;
        padding: $l-size;
        width: 100%;
    }
    .article__body {
        margin: 0 $l-size;

        h1 {
            font-size: $font-size-medium;
            text-align: center;
            margin: 1rem;
        }
        blockquote {
            text-align: center;
        }
    }
}

@media (min-width: $tablet-breakpoint) {
    .article-page {
        grid-template-areas:    "header"
                                "article"
                                "sidebar"
                                "footer";
        grid-template-rows: 30rem auto auto 5rem;
        grid-template-columns: 100vw;
    }
}
@media (min-width: $small-desktop-breakpoint) {
    .article-page {
        grid-template-areas:    "header   header"
                                "article sidebar"
                                "footer   footer";
        grid-template-rows: 30rem auto 5rem;
        grid-template-columns: 3fr 1fr;
    }
}
@media (min-width: $desktop-breakpoint) {
    .article-page {
        grid-template-areas:    "header header   header  header"
                                ".      article sidebar .     "
                                "footer footer   footer  footer";
        grid-template-rows: 30rem auto 5rem;
        grid-template-columns: 1fr 75rem 25rem 1fr;
    }
}