.article-page {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:    "header header   header  header"
                            ".      article sidebar  .     "
                            "footer footer   footer  footer";
    grid-template-rows: 15rem auto 5rem;
    grid-auto-columns: 1fr 75rem 25rem 1fr;
    min-height: 110vh;
    width: 100vw;
}

.article {
    background: $white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.10);
    grid-area: article;
    padding: $l-size 0;

    &__title {
        border-bottom: 2px solid $blue-med;
        color: $blue-med;
        font-size: $font-size-large;
        margin: 0 $l-size $l-size;
    }
    &__date {
        text-align: right;
        margin: 0 $l-size;
    }
    &__image {
        box-sizing: border-box;
        display: block;
        padding: $l-size;
        width: 100%;
    }
    .article__body {
        margin: 0 $l-size;

        h1 {
            font-size: $font-size-medium;
            text-align: center;
            margin: 1rem;
        }
        blockquote {
            text-align: center;
        }
    }
}