.header {
    align-items: center;
    background-image: url('/images/header.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-areas: ". title";
    grid-template-columns: 0 1fr;
    grid-area: header;

    .header__title {
        align-items: center;
        color: $white;
        display: flex;
        font-family: $title;
        font-size: $font-size-medium;
        grid-area: title;
    }
}

@media (min-width: $small-desktop-breakpoint) {
    .header__title {
        font-size: $font-size-xlarge;
    }
}
@media (min-width: $desktop-breakpoint) {
    .header {
        grid-template-areas: ". title .";
        grid-template-columns: 1fr 100rem 1fr;
    }
}