.recent-posts {
    background: $white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.10);
    grid-area: articles;
    padding: $l-size 0;

    .recent-posts__title {
        border-bottom: 2px solid $blue-med;
        color: $blue-med;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: $font-size-large;
        margin: 0 $l-size $l-size;
        text-transform: uppercase;
    }
}