.dashboard {
    display: grid;
    grid-template-columns: 20rem auto;
    min-height: 100vh;
    width: 100vw;
}

.admin-page {
    padding: $l-size;

    .admin-page__title {
        margin: 0;
    }
    .admin-page__subtitle {
        margin: $l-size 0 $m-size 0;
    }
}