.admin-sidebar {
    background-color: $white;
    box-shadow: $box-shadow;
    position: relative;

    &__welcome {
        align-items: center;
        background: $blue-med;
        color: $white;
        display: flex;
        height: 10rem;
        padding: 0 $s-size;
    }
    &__button {
        color: $blue-dark;
        display: block;
        font-size: 1.8rem;
        margin: $s-size;
        text-align: center;
        padding: 2rem;
        width: auto;

        &--active {
            @extend .admin-sidebar__button;

            background: $blue-dark;
            color: $white;
        }
    }
    &__button--logout {
        @extend .admin-sidebar__button;

        background: none;
        bottom: 0;
        border: none;
        margin: $s-size 0;
        position: absolute;
        width: 20rem;
    }
}