.post-editor {
    background: white;
    margin: $m-size;
    max-width: 75rem;
    padding: $m-size;

    &__title-input {
        border: none;
        border-bottom: 2px solid darken($white, 5%);
        font-size: $font-size-medium;
        margin-bottom: $m-size;
        padding: .3rem;
        width: 100%;

        &:focus {
            outline: none;
            border-bottom: 2px solid $blue-light;
        }
    }
    &__button {
        padding: $s-size;
    }
    &__image-input {
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        width: 0.1px;

        & + label {
            background: $green-med;
            color: white;
            display: block;
            font-size: $font-size-medium;
            padding: $xs-size;
        }
    }
}

.pell {

    .pell-actionbar {

    }
    .pell-button {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    .pell-content {
        min-height: 40rem;
    }
}